.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  background-color: #ffffff;
  border-radius: 1rem !important;
}

.modal {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 0;
}

.modal-content {
  display: grid;
  gap: 0.7rem;
}

.modal .tabel-label {
  font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
  font-weight: 600;
  color: #8d8d8d;
}

.modal .modal-data {
  font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
  font-weight: 600;
}

.modal-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  transform: scale(0.8);
  cursor: pointer;
}

.modal-close-btn:hover {
  transform: scale(0.9);
}

.modal-close-btn:active {
  transform: scale(0.7);
}

.modal .combo-btn-ctn {
  margin-top: 0.5rem;
  flex-wrap: nowrap;
}

.modal .combo-btn {
  padding: 0.5rem 0.7rem;
  font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}

.modal .combo-btn-two {
  background-color: #a7a7a7;
  border: 0.5px solid #a7a7a7;
}

@media screen and (max-width: 769px) {
  .modal .combo-btn-ctn {
    justify-content: flex-start;
  }
}
