.same-services-ctn {
  width: 90vw;
  max-width: 980px;
  margin: 40px auto 65px auto;
}

.single-slide-ctn {
  margin-top: 2.9rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  justify-items: center;
  gap: 4rem 1rem;
}

.same-services-ctn .slider-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  white-space: nowrap;
}

.same-styled-divider {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border: 0.5px solid rgba(217, 217, 217, 0.69);
}

.same-services-avilable {
  font-weight: 600;
  font-size: 16px;
  color: #1d1d1d;
}

.same-services-ctn .pagination {
  margin-top: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination-prev {
  margin-right: 1rem;
}

.pagination-next {
  margin-left: 1rem;
}

.pagination-text {
  padding: 0.4rem 1rem;
  background-color: hsl(0, 0%, 95%);
  border-radius: 1rem;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: hsl(0, 0%, 27%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination-text:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 15%);
}

.pagination-number {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.02rem;
  color: hsl(0, 0%, 27%);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.pagination-number:hover {
  color: hsl(0, 0%, 15%);
}

.pagination-active {
  padding: 0.15rem 0.45rem;
  background: hsl(347, 64%, 49%);
  border-radius: 11.5px;
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 1000px) {
  .same-services-ctn {
    margin: 25px auto 55px auto;
  }

  .single-slide-ctn {
    margin-top: 2.7rem;
    gap: 3rem 1rem;
  }

  .same-services-avilable {
    font-weight: 600;
  }

  .same-services-ctn .pagination {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 320px) {
  .same-styled-divider {
    top: 130%;
  }
}
