.services {
  position: relative;
  width: 90vw;
  max-width: 1100px;
  margin: 150px auto 60px auto;
}

.services-title {
  font-weight: 700;
  font-size: 38px;
  color: #1d1d1d;
  text-align: center;
}

.services-ctn {
  position: relative;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 7rem 1.4rem;
}

.styled-divider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border: 1px solid #dddddd;
}

.service-ctn {
  width: 200px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.service:hover {
  background-color: #f5f5f5;
  border-radius: 0.4rem;
}

.service-title-ctn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.service-title {
  font-weight: 600;
  font-size: 17px;
  white-space: nowrap;
}

.service-icon {
  transform: scale(0.7);
}

.services-btn {
  display: flex;
  gap: 0.4rem;
  padding: 12px 16px;
  margin: 80px auto 0 auto;
  background-color: #ce2d4f;
  border: 2px solid #ce2d4f;
  border-radius: 40px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.services-btn-text {
  color: #ffffff;
}

.services-btn:hover {
  background-color: #ffffff;
}

.services-btn:hover .services-btn-text {
  color: #1d1d1d;
}

.services-btn:hover .services-btn-icon {
  filter: invert(1);
}

@media screen and (max-width: 1211px) {
  .styled-divider {
    display: none;
  }

  .services-ctn {
    gap: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .services {
    margin: 215px auto 60px auto;
  }

  .services-title {
    font-size: 35px;
  }

  .services-ctn {
    margin-top: 40px;
    gap: 1rem;
  }

  .service-title {
    font-size: 15px;
  }

  .service-icon {
    transform: scale(0.65);
  }
  .services-btn {
    margin-top: 40px;
    font-size: 15px;
  }

  .services-btn-icon {
    transform: scale(0.9);
  }
}
