.services {
  position: relative;
  width: 90vw;
  max-width: 1100px;
  margin: 150px auto 60px auto;
}

.services-title {
  font-size: clamp(1.9375rem, 1.8625rem + 0.375vw, 2.3125rem);
  font-weight: 700;
  color: #1d1d1d;
  text-align: center;
}

.services-ctn {
  position: relative;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 7rem 1.4rem;
}

.styled-divider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border: 0.5px solid #dddddd;
}

.service-ctn {
  width: 200px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.service:hover,
.activeSer {
  background-color: #f5f5f5;
}

.service-title-ctn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.service-title {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  font-weight: 600;
  white-space: nowrap;
}

.service-icon {
  transform: scale(0.7);
}

.services .rounded-btn {
  margin-top: 3.5rem;
}

@media screen and (max-width: 1211px) {
  .styled-divider {
    display: none;
  }

  .services-ctn {
    gap: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .services {
    margin: 215px auto 60px auto;
  }

  .services-ctn {
    margin-top: 40px;
    gap: 1rem;
  }

  .service-icon {
    transform: scale(0.65);
  }

  .services .rounded-btn {
    margin-top: 2.5rem;
  }
}
