.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serach-ctn {
  margin: 0 auto;
  border-radius: 20px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-category-ctn {
  font-size: clamp(0.9375rem, 0.9125rem + 0.125vw, 1.0625rem);
  color: #5e5e5e;
}

.category-btn {
  padding: 0.6rem;
  background-color: #ececec;
  border: 0.5px solid #bfbfbf;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.category-btn-text {
  font-size: clamp(0.9375rem, 0.9125rem + 0.125vw, 1.0625rem);
  font-weight: 500;
}

.category-btn-active {
  outline: 0.1rem solid #ce2d4f;
}

.category-dropdown {
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem 1rem 1rem;
  visibility: hidden;
  transition: opacity 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.category-dropdown-show {
  visibility: visible;
}

.category-dropdown .loading {
  height: 10vh;
  width: 5rem;
}

.dropdown-item {
  color: #2d2d2d;
  font-size: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-item:hover {
  filter: invert(0.35);
}

.dropdown-item a {
  color: #2d2d2d;
}

.category-dropdown .countryWrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.category-dropdown .countryFlag {
  width: 23px;
  height: 15px;
  object-fit: cover;
}

.category-dropdown .selectLabel {
  font-size: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
  font-weight: 500;
  color: #2d2d2d;
}

.search-keyword {
  position: relative;
  width: 8rem;
  background-color: #f2f2f2;
  border: 0.5px solid #bfbfbf;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-image: url('../../images/svg/box-search.svg');
  background-position: left;
  padding: 0.6rem;
  background-origin: content-box;
  background-size: 21px 21px;
  background-repeat: no-repeat;
  text-indent: 1.7rem;
  font-size: clamp(0.9375rem, 0.9125rem + 0.125vw, 1.0625rem);
  font-weight: 500;
}

.search-keyword:focus {
  outline: 0.1rem solid #ce2d4f;
}

.search-keyword::placeholder {
  color: #4f4f4f;
}

.search-btn {
  padding: 0.5rem 0.6rem;
  background-color: #ce2d4f;
  border: 0.1rem solid #ce2d4f;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #ffffff;
  font-size: clamp(0.9375rem, 0.91875rem + 0.09375vw, 1.03125rem);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search-btn-icon {
  transform: scale(0.89);
}

.search-btn:hover {
  background: hsl(347, 64%, 55%);
}

.search-btn:active {
  background: hsl(347, 64%, 45%);
}

@media screen and (max-width: 1000px) {
  .search-keyword {
    background-size: 19px 19px;
  }

  .search-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .dropCateogry {
    display: none;
  }

  .form-control {
    gap: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  .search-keyword {
    display: none;
  }
}
