/* register */
.register {
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.register-left {
  width: 80%;
  min-width: 400px;
  padding: 4rem 0 0 5rem;
  background: url('../../images/register.png') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-logo {
  width: 190px;
  height: auto;
}

.register-logo-mobile {
  display: none;
}

.register-title-ctn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  color: #ffffff;
}

.register-desc {
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #ffffff;
}

.register-right {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-type-title {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #1d1d1d;
}

.register-type {
  margin-top: 0.8rem;
  padding: 1.4rem;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 97%);
  border-radius: 10px;
  cursor: pointer;
}

.register-type:hover {
  background-color: hsl(0, 0%, 85%);
}

.register-type-icon {
  width: 40px;
  height: 40px;
}

.register-type-text {
  font-weight: 600;
  font-size: clamp(0.95rem, 2.5vw, 1.05rem);
  color: #1d1d1d;
}

/* register company/indie */
.register-com .register-right {
  display: none;
}

.register-form-right {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-ctn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register-form-title {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #1d1d1d;
}

.register-form-sucess-ctn {
  align-items: center;
  justify-content: center;
}

.register-form-success-title {
  width: 70%;
  text-align: center;
}

.register-success-image-ctn {
  max-width: 450px;
  max-height: 250px;
  min-width: 200px;
  min-height: 10px;
}

.register-success-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.register-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 5rem;
}

.register-success-form {
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.register-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-form-input-label {
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #1d1d1d;
}

.register-form-input {
  padding: 0.7rem 0;
  background-color: #fafafa;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #1d1d1d;
  text-indent: 1.2rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.register-form-input:focus {
  background: #ebebeb;
  border: 1px solid #6d6d6d;
  outline: 1px solid #6d6d6d;
}

.register-form-input::placeholder {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.register-form-upload-label {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1.8rem;
  width: 80%;
  min-width: 300px;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.05);
  border: 2px dashed #bfbfbf;
  border-radius: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.register-form-upload-image {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  border-radius: 12px;
}

.rgister-form-upload-label-text {
  font-weight: 500;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #1d1d1d;
}

.upload-edit-icon {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.upload-label-text-custom {
  color: #ce2d4f;
}

.register-form-upload-input {
  display: none;
}

.register-form .error-message {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #ce2d4f;
}

.register-form-button {
  margin-top: 0.3rem;
  padding: 0.7rem 0;
  background-color: #ce2d4f;
  border: 2px solid #ce2d4f;
  border-radius: 10px;
  font-weight: 700;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.register-form-fit-button {
  width: fit-content;
  padding: 0.5rem 0.8rem;
  margin-left: 9rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-success-button {
  margin: 0 auto;
}

.register-form-button:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

@media screen and (max-width: 1000px) {
  .register-logo {
    width: 160px;
  }

  .register-form {
    width: 40vw;
  }

  .register-success-form {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 769px) {
  .register {
    width: 90vw;
    min-height: auto;
    margin: 2.5rem auto 0 auto;
    flex-direction: column;
  }

  .register-left {
    width: auto;
    min-width: auto;
    padding: 0;
    background-image: none;
  }

  .register-logo {
    display: none;
    width: 130px;
  }

  .register-logo-mobile {
    display: block;
  }

  .register-title {
    color: #1d1d1d;
  }

  .register-desc {
    color: #6c6c6c;
  }

  .register-right {
    margin-top: 3.5rem;
    width: auto;
    display: block;
  }

  .register-type-title {
    margin-bottom: 1rem;
  }

  .register-type {
    margin-top: 0.9rem;
    padding: 3rem;
    width: 100%;
    gap: 1rem;
  }

  .register-type:hover {
    background-color: hsl(0, 0%, 95%);
  }

  .register-type-icon {
    width: 30px;
    height: 30px;
  }

  .register-form-right {
    width: 90vw;
    margin: 2.5rem auto 0 auto;
    display: block;
  }

  .register-form-ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .register-form-upload-title {
    margin-bottom: 0.5rem;
  }

  .register-form-upload-label {
    width: 100%;
    min-width: 200px;
    padding: 3rem 0;
  }

  .register-form {
    width: 100%;
    gap: 1rem;
  }

  .register-form-sucess-ctn {
    align-items: start;
    justify-content: center;
    gap: 4rem;
  }

  .register-form-success-title {
    width: 65%;
    text-align: left;
  }

  .register-success-form {
    gap: 2rem;
  }

  .register-form-fit-button {
    margin: 0.3rem auto 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .register-success-form {
    gap: 1rem;
  }
}
