.upload-ser-heading {
  display: grid;
  gap: 0.7rem;
}

.upload-ser-title {
  font-weight: 700;
  font-size: clamp(1.4375rem, 1.4rem + 0.1875vw, 1.625rem);
  color: #1d1d1d;
}

.upload-ser-desc {
  font-weight: 400;
  font-size: clamp(0.8125rem, 0.8rem + 0.0625vw, 0.875rem);
  line-height: 1.1875rem;
  color: #6d6d6d;
}

.upload-ser-form-ctn {
  margin-top: 2.1rem;
  display: block;
}

.upload-ser-form {
  display: flex;
  gap: 4rem;
}

.upload-ser-left {
  width: 50%;
  display: grid;
  gap: 1.9rem;
}

.upload-ser-right {
  width: 50%;
  max-width: 370px;
}

.upload-ser-input-ctn {
  display: grid;
  gap: 0.8em;
}

.upload-ser-label-ctn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.upload-ser-label-title {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  font-weight: 600;
  color: #1d1d1d;
}

.upload-ser-label-icon {
  transform: scale(1);
}

.upload-ser-textarea {
  width: 100%;
}

.countryWrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.countryFlag {
  width: 23px;
  height: 15px;
  object-fit: cover;
}

.selectLabel {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  font-weight: 600;
  color: #1d1d1d;
}

.upload-ser-left .css-1s2u09g-control,
.upload-ser-left .css-1pahdxg-control {
  padding: 0.26rem 0.5rem;
  background-color: #fafafa;
  border: 1px solid #cecece;
  box-shadow: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #1d1d1d;
  text-indent: auto;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.upload-ser-left .css-1pahdxg-control {
  padding: 0.26rem 0.5rem;
  background-color: #ebebeb;
  border: 1px solid #6d6d6d;
  box-shadow: 0 0 0 1px #6d6d6d;
}

.upload-ser-left .css-1pahdxg-control:hover {
  border: 1px solid #6d6d6d;
}

.upload-ser-left .upload-ser-tag-placeholder {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-weight: 600;
  color: #6d6d6d;
}

.upload-ser-left .css-1rhbuit-multiValue {
  background-color: #e14869;
  border-radius: 1rem;
}

.upload-ser-left .css-1rhbuit-multiValue .css-12jo7m5 {
  padding: 0.3rem 0 0.3rem 0.5rem;
  color: #ffffff;
}

.upload-ser-left .css-1rhbuit-multiValue .css-xb97g8 {
  margin-left: 0.5rem;
  padding: 0 0.2rem 0 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #ffffff;
}

.upload-ser-input-ctn-img .upload-ser-img-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem;
}

.upload-ser-input-ctn-img .register-form-upload-label {
  width: 180px;
  min-width: auto;
  padding: 0.5rem 0;
  gap: 0;
}

.upload-ser-input-ctn-img .register-form-upload-label-text {
  font-size: clamp(0.8125rem, 0.8rem + 0.0625vw, 0.875rem);
  font-weight: 600;
  color: #1d1d1d;
}

.upload-ser-input-ctn-img .register-form-upload-image {
  transform: scale(0.5);
}

@media screen and (max-width: 769px) {
  .upload-ser-form-ctn {
    margin-top: 1.9rem;
  }

  .upload-ser-form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .upload-ser-left,
  .upload-ser-right {
    width: 100%;
    max-width: 100%;
  }

  .upload-ser-left {
    gap: 1.5rem;
  }

  .upload-ser-input-ctn {
    display: grid;
    gap: 0.8em;
  }

  .upload-ser-label-ctn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .upload-ser-input-ctn-img .upload-ser-img-ctn {
    gap: 0.5rem;
  }

  .upload-ser-input-ctn-img .register-form-upload-label {
    width: 100%;
    gap: 1rem;
  }

  .upload-ser-input-ctn-img .upload-ser-img-ctn {
    gap: 1rem;
  }
}
