.hero {
  position: relative;
  width: 100%;
  padding-bottom: 180px;
  margin-top: 140px;
}

.hero-image-ctn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -4;
}

.hero-image-ctn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 8%);
  opacity: 0.5;
  z-index: 11;
}

.hero-image-ctn > * {
  z-index: 12;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-items-ctn {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
}

.hero-items {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 4;
}

.small-title {
  font-size: 25px;
  color: #ffffff;
}

.main-title {
  font-size: 38px;
  color: #ffffff;
  line-height: 55px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #d0d0d0;
}

.description span {
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .hero {
    padding-bottom: 180px;
    margin-top: 70px;
  }

  .hero-items {
    padding-top: 90px;
    gap: 1rem;
  }

  .small-title {
    font-size: 22px;
  }

  .main-title {
    font-size: 35px;
    line-height: 50px;
  }

  .description {
    font-size: 16px;
  }
}
