.profile-ctn {
  background-color: #f7f7f7;
}

.profile {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  padding: 5rem 0 10rem 0;
}

.profile-image-ctn {
  width: 170px;
  height: 170px;
}

.profile-image {
  max-width: 100%;
  height: auto;
}

.profile-title-ctn {
  position: relative;
  width: 50vw;
  max-width: 700px;
  min-width: 480px;
  display: flex;
  white-space: nowrap;
}

.profile-styled-divider {
  position: absolute;
  top: 2.5rem;
  left: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 560px;
  min-width: 460px;
  border: 0.5px solid #e0e0e0;
}

.profile-title {
  width: 50%;
  font-weight: 700;
  font-size: 22px;
  color: #1d1d1d;
}

.profile-edit-ctn {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-edit-text {
  font-weight: 600;
  font-size: 17px;
  color: #0e638b;
}

.profile-info-ctn {
  margin-top: 2.7rem;
  width: 50vw;
  max-width: 700px;
  min-width: 480px;
  display: flex;
}

.profile-content-left,
.profile-content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.profile-label {
  display: flex;
  gap: 0.5rem;
}

.profile-label-text {
  font-weight: 600;
  font-size: 15px;
  color: #6c6c6c;
}

.profile-info {
  font-weight: 600;
  font-size: 17px;
  color: #1d1d1d;
}

.profile-login-btn {
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.profile-login-image {
  max-width: 100%;
  height: auto;
}

.profile-login-text {
  font-weight: 600;
  font-size: 17px;
  color: #1d1d1d;
}
