@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* combo btn */
.combo-btn-ctn {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  white-space: nowrap;
}

.combo-btn {
  padding: 0.7rem 2rem;
  background-color: #ce2d4f;
  border: 0.5px solid #ce2d4f;
  border-radius: 8px;
  font-weight: 600;
  font-size: clamp(0.8125rem, 0.7875rem + 0.125vw, 0.9375rem);
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.combo-btn-two {
  background-color: #575757;
  border: 0.5px solid #575757;
}

.combo-btn:hover {
  transform: scale(1.05);
}

.combo-btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 769px) {
  .combo-btn-ctn {
    justify-content: center;
  }
}
