.edit-ctn {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 25rem 0;
  background-color: #f7f7f7;
  display: flex;
}

.edit {
  position: absolute;
  top: 0;
  left: 18rem;
  right: 0;
  margin: 5rem auto 3rem auto;
  width: 65vw;
  max-width: 980px;
  display: flex;
  gap: 5rem;
}

.edit-items {
  width: 420px;
  min-width: 300px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.edit-items-title-ctn {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.edit-items .profile-styled-divider {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.edit-items-title-ctn .profile-title {
  width: auto;
}

.edit-items-title-ctn .profile-edit-ctn {
  width: auto;
  cursor: pointer;
}

.edit-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-form-input {
  padding: 0.7rem 0;
  background-color: #fafafa;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-weight: 600;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  color: #1d1d1d;
  text-indent: 1.2rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit-form-input:focus {
  background: #ebebeb;
  border: 1px solid #6d6d6d;
  outline: 1px solid #6d6d6d;
}

.edit-form-input::placeholder {
  font-size: clamp(0.84375rem, 0.825rem + 0.09375vw, 0.9375rem);
}

@media screen and (max-width: 1000px) {
  .edit-ctn {
    padding: 0;
  }

  .edit {
    position: relative;
    left: 0;
    width: 90vw;
  }
}

@media screen and (max-width: 769px) {
  .edit {
    flex-direction: column;
    gap: 4rem;
    margin: 4rem auto 3rem auto;
  }

  .edit-items {
    width: 100%;
    max-width: auto;
    min-width: auto;
  }

  .edit-form {
    width: 100%;
    max-width: auto;
    min-width: auto;
    gap: 1.4rem;
  }
}
