.edit-items {
  width: 420px;
  min-width: 300px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.edit-items-title-ctn {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.edit-items .profile-styled-divider {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.edit-items-title-ctn .profile-title {
  width: auto;
}

.edit-items-title-ctn .profile-edit-ctn {
  width: auto;
  background-color: #f7f7f7;
  border: 0.1px solid #f7f7f7;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.profile-edit-ctn:hover {
  opacity: 0.75;
}

.edit-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-form-input {
  padding: 0.7rem 0;
  background-color: #fafafa;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-weight: 600;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  color: #1d1d1d;
  text-indent: 1.2rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit-form-input:focus {
  background: #ebebeb;
  border: 1px solid #6d6d6d;
  outline: 1px solid #6d6d6d;
}

.edit-form-input::placeholder {
  font-size: clamp(0.84375rem, 0.825rem + 0.09375vw, 0.9375rem);
}

.edit-form .error-message {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #ce2d4f;
}

@media screen and (max-width: 769px) {
  .edit-ctn .service-dash {
    padding: 3rem 0 3rem 0;
  }

  .edit-items {
    width: 100%;
    max-width: auto;
    min-width: auto;
  }

  .edit-form {
    width: 100%;
    max-width: auto;
    min-width: auto;
    gap: 1.4rem;
  }
}
