.navbar {
  width: 90vw;
  max-width: 980px;
  max-height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0.8rem 0;
}

.nav-brand-logo-ctn {
  width: 140px;
}

.nav-brand-logo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.navlinks {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

ul.navlinks {
  margin: 0 auto;
}

.navlinks li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  white-space: nowrap;
}

.nav-link-ctn:last-child {
  display: none;
}

.nav-btn {
  background: linear-gradient(90deg, #2e87b0, #00537a);
  padding: 0.8rem 1rem;
  border: 2px solid #2e87b0;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

.nav-btn:hover {
  background: #ffffff;
  color: #1a1a1a;
}

.navbar {
  display: flex;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #ce2d4f;
  height: 3px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 50%;
}

.hamburger-ctn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar {
    max-height: 90px;
    padding: 0.5rem 0;
  }

  .stop-scroll {
    height: 100%;
    overflow: hidden;
  }

  .nav-brand-logo-ctn {
    width: 125px;
  }

  .hamburger-ctn {
    display: block;
  }

  .navlinks {
    flex-direction: column;
    gap: 3rem;
    position: fixed;
    top: 5.6rem;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-bottom: 7rem;
    background-color: #2e87b0;
    z-index: 9;
    transition: all 0.5s ease;
  }

  .nav-link-ctn:last-child {
    display: block;
  }

  .navlinks-hamburger {
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .navlinks li a {
    color: #ffffff;
  }

  .navlinks li a:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
  }

  .nav-btn {
    display: none;
  }
}
