.navbar-ctn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 16;
}

.navbar {
  width: 90vw;
  height: 90px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0.2rem 0;
}

.nav-brand-logo {
  max-width: 100%;
  width: 140px;
  height: auto;
  object-fit: cover;
}

.navbar {
  display: flex;
}

.navlinks {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.nav-link {
  position: relative;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  white-space: nowrap;
  cursor: pointer;
}

.nav-link:last-child {
  display: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #ce2d4f;
  height: 3px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link.active::after {
  width: 50%;
}

.nav-link-dropdown-active {
  background-color: lightcoral;
  display: grid;
  gap: 1rem;
}

.nav-btn {
  background: linear-gradient(90deg, #2e87b0, #00537a);
  padding: 0.8rem 1rem;
  border: 3px solid #2e87b0;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-btn:hover {
  transform: scale(1.02);
}

.nav-btn:active {
  transform: scale(0.98);
}

.mobile-btn-ctn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-brand-logo {
    width: 125px;
  }

  .mobile-btn-ctn {
    display: block;
  }

  .navlinks {
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-bottom: 7rem;
    background-color: #2e87b0;
    z-index: 9;
    transition: all 0.4s ease-in-out;
  }

  .navlinks-mobile {
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-link {
    padding: 0.5rem 1rem;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .nav-link:last-child {
    display: block;
  }

  .nav-link:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
  }

  .nav-link::after {
    display: none;
  }

  .nav-btn {
    display: none;
  }
}
