.services-slider {
  width: 100%;
  margin-top: 50px;
  padding: 80px 0;
  background-color: #f7f7f7;
}

.services-slider-title {
  font-size: 38px;
  font-weight: 700;
  color: #1d1d1d;
  text-align: center;
  margin-bottom: 75px;
}

.slider-component {
  width: 90vw;
  max-width: 980px;
  margin: 50px auto 0 auto;
}

.slider-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-btn-ctn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.slider-btn-text {
  font-size: 15px;
  font-weight: 600;
  color: #5e5e5e;
}

.slider-btn-icon {
  transform: scale(0.8);
}

.slider-content {
  position: relative;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.slide-arrow {
  position: absolute;
  top: 40%;
  z-index: 6;
  cursor: pointer;
}

.slide-arrow-left {
  left: -2vw;
  transform: rotate(180deg);
}

.slide-arrow-right {
  right: -2vw;
}

.slide-ctn {
  position: relative;
}

.image-dots-ctn {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.image-dot {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.image-dot-active {
  background-color: #ffffff;
}

.slide {
  width: 315px;
  height: auto;
  background-color: #ffffff;
  border-radius: 12px;
}

.slide:hover {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slide-image-ctn {
  /* position: relative; */
  width: 315px;
  height: auto;
}

.slide-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 77.29%,
    rgba(0, 0, 0, 0.36) 96.54%
  );
  border-radius: 12px 12px 0 0;
}

.slide-content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 12px 0 20px 22px;
}

.slide-title {
  font-weight: 600;
  font-size: 17px;
  color: #1d1d1d;
}

.slide-para {
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
}

.slide-location-ctn,
.slide-name-ctn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location-icon,
.profile-icon {
  display: block;
  width: 10px;
  height: 10px;
  transform: scale(1.4);
}

@media screen and (max-width: 1000px) {
}
