.services-slider {
  width: 100%;
  padding: 69px 0 60px 0;
  background-color: #f7f7f7;
}
.services-slider-title {
  font-size: 1.9375rem;
  font-size: clamp(1.9375rem, 1.8625rem + 0.375vw, 2.3125rem);
  font-weight: 700;
  color: #1d1d1d;
  text-align: center;
  margin-bottom: 69px;
}
.slider-component {
  width: 90vw;
  max-width: 980px;
  margin: 35px auto 0 auto;
}

.slider-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-title {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.0875rem + 0.1875vw, 1.3125rem);
  font-weight: 600;
}
.slider-btn-ctn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slider-btn-ctn:hover {
  filter: invert(0.5);
}
.slider-btn-text {
  font-size: 15px;
  font-weight: 600;
  color: #5e5e5e;
}
.slider-btn-icon {
  transform: scale(0.8);
}
.slider-content {
  position: relative;
  margin-top: 15px;
}
.slide-arrow {
  position: absolute;
  top: 40%;
  z-index: 6;
  filter: invert(50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slide-arrow:hover {
  filter: invert(0);
}
.slide-arrow-left {
  left: -2vw;
  transform: rotate(180deg);
}
.slide-arrow-right {
  right: -2vw;
}
.swiper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 0.2rem !important;
}
.swiper-slide {
  display: grid;
  place-items: center;
}
.slide-ctn {
  position: relative;
}
.slide {
  width: 315px;
  height: auto;
  min-height: 325px;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
}
.slide:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}
.slide-img-ctn {
  width: 315px;
  height: 195px;
}
.slide-img-ctn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  height: 195px;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 77.29%,
    rgba(0, 0, 0, 0.36) 96.54%
  );
  opacity: 1;
  z-index: 11;
}
.slide-img-ctn > * {
  z-index: 12;
}
.slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.slide-content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 12px 0 20px 22px;
}
.slide-title {
  font-weight: 600;
  font-size: 17px;
  color: #1d1d1d;
}
.slide-para {
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
}
.slide-location-ctn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.location-icon {
  display: block;
  width: 10px;
  height: 10px;
  transform: scale(1.4);
}
.services-slider .loading {
  height: auto;
}
.services-slider .rounded-btn {
  margin-top: 2.7rem;
}

@media screen and (max-width: 1000px) {
  .services-slider {
    padding: 50px 0;
  }
  .slider-btn-ctn {
    gap: 0.5rem;
  }
  .services-slider-title {
    margin-bottom: 50px;
  }
  .slider-btn-text {
    font-size: 14px;
  }
  .slider-btn-icon {
    transform: scale(0.7);
  }
  .slide-content {
    gap: 0.8rem;
  }
  .slide-title {
    font-size: 15px;
  }
  .slide-para {
    font-size: 12.9px;
  }
  .location-icon {
    transform: scale(1.35);
  }
  .services-slider .rounded-btn {
    margin-top: 2.3rem;
  }
}

@media screen and (max-width: 480px) {
  .slide-arrow {
    display: none;
  }
}
