.category-nav-ctn {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f0f0f0;
  z-index: 16;
  transition: all 0.3s ease-in-out;
}

.category-nav-ctn-hide {
  display: none;
}

.category-nav {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #5e5e5e;
  font-weight: 600;
}

.drop {
  min-width: 0.1rem;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-weight: 600;
  font-size: 17px;
  border: none;
  outline: none;
  color: #5e5e5e;
  padding: 14px 0;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 14;
}

/* Links inside the dropdown */
.dropdown-content .cat-nav-link-ctn {
  font-size: 17px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content .cat-nav-link-ctn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  padding: 0 5px;
}

@media screen and (max-width: 1000px) {
  .category-nav-ctn {
    display: none;
  }
}
