.sign-up-page {
  display: flex;
}
.sign-up-img {
  height: 100vh;
  object-fit: cover;
}

.right-side {
  display: flex;
  gap: 1rem;
}

.sign-up-title {
  width: 35vw;
  min-width: 350px;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}
.signup-form {
  width: 35vw;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.field-text {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-weight: 600;
  margin-bottom: -0.5rem;
}
.signup-footer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-footer-text-ctn {
  display: grid;
  place-items: center;
  gap: 1rem;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  text-align: center;
}

.field-style {
  padding: 0.7rem 0;
  background-color: #fafafa;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #1d1d1d;
  text-indent: 1.2rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.field-style:hover {
  background-color: #eeeeee;
}
.sign-up-btn {
  width: 100%;
  padding: 0.7rem 0;
  background-color: #ce2d4f;
  border: 2px solid #ce2d4f;
  border-radius: 10px;
  font-weight: 700;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sign-up-btn:hover {
  background-color: #ffffff;
}
.sign-up-btn:hover .sign-up-link {
  color: #1d1d1d;
}
.sign-up-link {
  text-decoration: none;
  color: #ffffff;
}
.sign-in {
  color: #00537a;
  cursor: pointer;
}
.sign-in:hover a {
  color: #ce2d4f;
}
.signup-footer-text-bold {
  font-weight: 600;
}

.signin {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.signin-btn {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.9rem 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.signin-btn:hover {
  background: #e0e0e0;
}
.signin-btn img {
  width: 100px;
  height: 25px;
  object-fit: auto;
}

@media screen and (max-width: 769px) {
  .sign-up-page {
    display: block;
    margin-top: 6rem;
  }
  .sign-up-img {
    display: none;
  }

  .right-side {
    width: 90vw;
    max-width: 980px;
    margin: 0 auto;
  }

  .sign-up-title {
    width: 90vw;
    min-width: auto;
  }

  .signup-form {
    width: 90vw;
    min-width: auto;
    gap: 1rem;
  }

  .signup-footer-text-ctn {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .signin-btn {
    padding: 0.8rem 1rem;
  }

  .signin-btn img {
    transform: scale(0.95);
  }

  .signup-footer-text-ctn {
    gap: 0.45rem;
  }
}
