.contact-page-title {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.contact-page-banner {
  width: 100%;
  padding: 125px 0;
  background: url('../../images/about-and-contact.png') no-repeat center;
}

.contact-page {
  margin-top: 80px;
}

.contact-page .contact-intro {
  display: none;
}

.contact-page-content {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto 5.8rem auto;
}

@media screen and (max-width: 1000px) {
  .contact-page .contact-us {
    margin: auto;
  }

  .contact-page .contact-form-ctn {
    margin: auto;
  }

  .contact-page-title {
    font-size: 35px;
  }

  .contact-page-banner {
    padding: 100px 0;
  }

  .contact-page-content {
    margin: 60px auto 70px auto;
  }
}
