.submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 1400px;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 8;
  visibility: hidden;
}

.submenu-show {
  visibility: visible;
}

.submenu-tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.submenu-tab {
  position: relative;
  background-color: #ffffff;
  border: #ffffff;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  font-size: clamp(0.84375rem, 0.825rem + 0.09375vw, 0.9375rem);
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.submenu-tab:hover {
  color: hsl(347, 64%, 49%);
  transition: all 0.3s ease-in-out;
}

.submenu-tab-active {
  color: #ce2d4f;
}

.tab-underline {
  position: absolute;
  bottom: -24.7px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ce2d4f;
}

.submenu-styled-divider {
  position: absolute;
  bottom: -24px;
  left: 0%;
  width: 100%;
  border: 0.5px solid #e5e5e5;
}

.submenu-links-ctn {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.submenu-links {
  white-space: nowrap;
}

.submenu-link {
  font-size: clamp(0.8125rem, 0.8rem + 0.0625vw, 0.875rem);
  font-weight: 400;
  color: #424242;
  cursor: pointer;
}

.submenu-link:hover {
  filter: invert(0.35);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .submenu {
    gap: 0.5rem;
  }

  .submenu-tabs {
    gap: 1.2rem;
  }

  .tab-underline {
    bottom: -11px;
    height: 2px;
  }

  .submenu-styled-divider {
    display: none;
  }

  .submenu-links-ctn {
    margin-top: 1rem;
  }
}
