.rounded-btn {
  margin-inline: auto;
  margin-top: 4rem;
  display: flex;
  gap: 0.4rem;
  padding: 10.5px 14px;
  background-color: #ce2d4f;
  border: 2px solid #ce2d4f;
  border-radius: 40px;
  font-size: clamp(0.9375rem, 0.9125rem + 0.125vw, 1.0625rem);
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rounded-btn-text {
  color: #ffffff;
}

.rounded-btn:hover {
  transform: scale(1.03);
}

.rounded-btn:active {
  transform: scale(0.97);
}

@media screen and (max-width: 1000px) {
  .rounded-btn-icon {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 768px) {
  .rounded-btn {
    margin-top: 3rem;
  }
}
