.rounded-btn {
  margin-inline: auto;
  margin-top: 4rem;
  display: flex;
  gap: 0.4rem;
  padding: 10.5px 14px;
  background-color: #ce2d4f;
  border: 2px solid #ce2d4f;
  border-radius: 40px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rounded-btn-text {
  color: #ffffff;
}

.rounded-btn:hover {
  background-color: #ffffff;
}

.rounded-btn:hover .rounded-btn-text {
  color: #1d1d1d;
}

.rounded-btn:hover .rounded-btn-icon {
  filter: invert(1);
}

@media screen and (max-width: 1000px) {
  .rounded-btn {
    font-size: 15px;
  }

  .rounded-btn-icon {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 768px) {
  .rounded-btn {
    margin-top: 3rem;
  }
}
