.all-services {
  margin-bottom: 2rem;
}

.all-services-banner {
  width: 100%;
  padding: 125px 0;
  background: url('../../images/Rectangle\ 662.png') no-repeat center;
}

.all-services-title {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.all-services .services {
  margin: 50px auto 140px auto;
}

.all-services .services-title,
.all-services .services-btn,
.all-services .styled-divider {
  display: none;
}

.all-services-contents {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.all-services-list-ctn {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
}

.all-services-list-title-ctn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.all-services-list-styled-divider {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  border: 0.5px solid #dddddd;
}

.all-services-list-image {
  transform: scale(0.5);
  margin-left: -1rem;
}

.all-services-list-title {
  font-weight: 600;
  font-size: 22px;
  color: #1d1d1d;
}

.all-services-content {
  margin-top: 2.69rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.all-services-list-type {
  font-size: 17px;
}

.all-services-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  white-space: nowrap;
}

.all-services-list {
  font-weight: 400;
  font-size: 16px;
  color: rgba(29, 29, 29, 0.85);
  list-style-type: disc;
  margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
  .all-services-contents {
    gap: 0.1rem;
  }

  .all-services-list-ctn {
    margin: 0 auto 35px auto;
  }

  .all-services-title {
    font-size: 35px;
  }

  .all-services .services {
    margin: 50px auto 50px auto;
  }

  .all-services-list-title-ctn {
    gap: 0.1rem;
  }

  .all-services-list-styled-divider {
    top: 110%;
  }

  .all-services-list-image {
    transform: scale(0.4);
    margin-left: -1rem;
  }

  .all-services-list-title {
    font-size: 19px;
  }

  .all-services-content {
    margin-top: 2.5rem;
    gap: 1rem;
  }

  .all-services-list-type {
    font-size: 15px;
  }

  .all-services-list {
    font-size: 14px;
  }
}
