.navbar-ctn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 16;
}

.navbar {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand-logo {
  width: 140px;

  height: auto;
  object-fit: cover;
}

.navlinks {
  position: relative;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateX(0);
}

.nav-link {
  position: relative;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  white-space: nowrap;
  cursor: pointer;
}

.nav-link:last-child {
  display: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #ce2d4f;
  height: 3px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link-dropdown-active {
  background-color: lightcoral;
  display: grid;
  gap: 1rem;
}

.nav-btn {
  background: linear-gradient(90deg, #2e87b0, #00537a);
  padding: 0.5rem 0.8rem;
  border: 3px solid #2e87b0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-btn:hover {
  opacity: 0.85;
}

.nav-btn:active {
  opacity: 1;
}

.mobile-btn-ctn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
  display: none;
}

/* bottom navbar */
.category-nav-ctn {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.5rem;
  background: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}

.sublinks {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .mobile-btn-ctn {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .nav-link:last-child {
    display: block;
  }

  .nav-link:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
  }

  .nav-link::after {
    display: none;
  }
}

/* bottom navbar */
@media screen and (max-width: 1000px) {
  .sublinks {
    display: none;
  }
}
