.contact-us {
  width: 90vw;
  max-width: 980px;
  margin: 100px auto 70px auto;
}

.contact-intro {
  width: 70vw;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-title {
  font-size: 30px;
  font-weight: 700;
  color: #1d1d1d;
}

.contact-desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.contact-btn {
  margin-top: 20px;
  width: 147px;
  height: 49px;
  background: #ce2d4f;
  border-radius: 8px;
  border: 2px solid #ce2d4f;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-btn:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

.contact-image-ctn {
  width: 360px;
  height: 360px;
}

.contact-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact-form-ctn {
  margin-top: 100px;
  padding: 25px 0;
  background: linear-gradient(94.4deg, #2e87b0 -4.47%, #00537a 99.3%);
  border-radius: 20px;
}

.contact-form-title {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  width: 80vw;
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.field-control {
  width: 69vw;
  max-width: 850px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  text-indent: 1.5rem;
}

.form-input {
  height: 60px;
}

.form-textarea {
  height: 120px;
  padding-top: 1rem;
}

.field-control::placeholder {
  font-size: 15px;
}

.field-control:focus {
  outline: 2.5px solid #ce2d4f;
}

.form-submit-btn {
  margin-top: 10px;
  width: 69vw;
  max-width: 850px;
  height: 65px;
  background-color: #1ac3da;
  border: 1px solid #1ac3da;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

.form-submit-btn:hover {
  background-color: hsla(187, 79%, 48%, 0.8);
}

.contact-info-ctn {
  width: 69vw;
  max-width: 850px;
  margin: 2rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-info {
  display: flex;
  gap: 0.5rem;
}

.contact-icon {
  min-width: 1rem;
  min-height: 1rem;
}

.contact-address {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .contact-us {
    margin: 75px auto 70px auto;
  }

  .contact-intro {
    width: auto;
    max-width: auto;
    margin: auto;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .contact-content {
    align-items: center;
    justify-content: center;
  }

  .contact-title {
    margin-top: 4rem;
    font-size: 26px;
    text-align: center;
  }

  .contact-title br {
    display: none;
  }

  .contact-desc {
    font-size: 14px;
    text-align: center;
    line-height: 25px;
  }

  .contact-desc br {
    display: none;
  }

  .contact-btn {
    font-size: 15px;
  }

  .contact-image-ctn {
    width: auto;
    height: auto;
  }

  .contact-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .contact-form-ctn {
    margin-top: 90px;
  }

  .contact-form-title {
    font-size: 26px;
  }

  .field-control {
    width: 80vw;
    font-size: 14px;
  }

  .form-input {
    height: 60px;
  }

  .form-textarea {
    height: 120px;
    padding-top: 1rem;
  }

  .field-control::placeholder {
    font-size: 14px;
  }

  .field-control:focus {
    outline: 2.5px solid #ce2d4f;
  }

  .form-submit-btn {
    width: 80vw;
  }

  .form-submit-btn:hover {
    background-color: hsla(187, 79%, 48%, 0.8);
  }

  .contact-info-ctn {
    width: 80vw;
  }

  .contact-info {
    gap: 0.45rem;
  }

  .contact-icon {
    transform: scale(0.9);
  }

  .contact-address {
    font-size: 15px;
  }
}
