.block-widget {
  display: grid;
  place-items: center;
  padding: 1rem;
  width: 200px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
