.footer {
  padding: 80px 0 40px 0;
  background-color: #f9f9f9;
}

.footer-content {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 4rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-logo-ctn {
  width: 200px;
  height: 45px;
}

.footer-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #575757;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-social-link {
  cursor: pointer;
}

.footer-social-link:hover {
  filter: brightness(1.2);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-contact-info-ctn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contact-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-contact-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #575757;
}

.footer-links-ctn {
  margin-left: 4rem;
}

.footer-links-title {
  font-weight: 700;
  font-size: 18px;
  color: #170f49;
  margin: 0.6rem 0 1.5rem 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
  font-size: 16px;
  color: #575757;
  cursor: pointer;
}

.footer-link:hover {
  filter: brightness(1.5);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-services-title {
  font-weight: 700;
  font-size: 18px;
  color: #170f49;
  margin: 0.6rem 0 1.5rem 0;
}

.footer-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 4rem;
  font-weight: 400;
  font-size: 16px;
  color: #575757;
  cursor: pointer;
}

.footer-links li,
.footer-services li {
  white-space: nowrap;
}

.footer-copyright-ctn {
  position: relative;
  width: 90vw;
  max-width: 980px;
  margin: 4.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
}

.footer-styled-divider {
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 980px;
  border: 0.5px solid #d9dbe9;
}

.footer-copyright,
.footer-terms {
  font-size: 16px;
  color: #575757;
  white-space: nowrap;
}

.footer-styled-term {
  color: #4a3aff;
  cursor: pointer;
}

.footer-styled-term:hover {
  filter: brightness(1.75);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-vertical-divider {
  margin: 0 0.4rem;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 70px 0 40px 0;
  }

  .footer-desc {
    font-size: 15px;
    line-height: 26px;
  }

  .footer-contact-info-ctn,
  .footer-links,
  .footer-services {
    gap: 0.8rem;
    font-size: 15px;
  }

  .footer-contact-address {
    font-size: 15px;
    line-height: 26px;
  }

  .footer-links-ctn {
    margin-left: 0;
  }

  .footer-links-title,
  .footer-services-title {
    font-size: 17px;
    margin: 0 0 1rem 0;
  }

  .footer-copyright-ctn {
    margin: 4.2rem auto 0 auto;
    flex-direction: column;
    gap: 0.8rem;
  }

  .footer-styled-divider {
    bottom: 4.8rem;
  }

  .footer-copyright,
  .footer-terms {
    font-size: 15px;
  }

  .footer-vertical-divider {
    margin: 0 0.35rem;
  }
}

@media screen and (max-width: 769px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 469px) {
  .footer-terms {
    display: grid;
    place-items: center;
    gap: 0.8rem;
  }

  .footer-styled-divider {
    bottom: 9rem;
  }

  .footer-vertical-divider {
    display: none;
  }
}
