.noSerWrapper {
  display: grid;
  place-items: center;
  min-height: 10vh;
}

.noSerText {
  color: #ce2d4f;
  font-size: clamp(
    1.4rem,
    1.3199999999999998rem + 0.4000000000000002vw,
    1.8rem
  );
  font-weight: 600;
}
