.seeker-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 18rem;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.seeker-sidebar .nav-brand-logo {
  margin: 0 1.8rem;
}

.seeker-sidebar .active {
  width: 89%;
  background-color: #e3365b;
  border-radius: 0 0.5rem 0.5rem 0;
}

.seeker-item {
  padding: 0.7rem 0;
  margin: 0 1.8rem;
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.seeker-bottom-item {
  margin-top: 20rem;
}

.seeker-item-icon {
  max-width: 100%;
  width: 24px;
  height: 24px;
}

.seeker-item-text {
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  font-weight: 600;
  color: #1d1d1d;
}

.active .seeker-item-text {
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .seeker-sidebar {
    display: none;
  }
}
