.sign-up-img {
  height: 100vh;
  object-fit: cover;
}
.sign-up-page {
  display: flex;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signup-header {
  display: flex;
  justify-content: start;
  width: 35vw;
  margin-bottom: 1.5rem;
}
.sign-up h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
}
.signup-form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.field-text {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: -0.5rem;
}
.signup-footer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-footer-text-ctn {
  display: grid;
  place-items: center;
  gap: 1rem;
  font-size: 16px;
}

.field-style {
  padding: 0.7rem 0;
  background-color: #fafafa;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: #1d1d1d;
  text-indent: 1.2rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.field-style:hover {
  background-color: #eeeeee;
}
.sign-up-btn {
  width: 100%;
  padding: 0.7rem 0;
  background-color: #ce2d4f;
  border: 2px solid #ce2d4f;
  border-radius: 10px;
  font-weight: 700;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sign-up-btn:hover {
  background-color: #ffffff;
}
.sign-up-btn:hover .sign-up-link {
  color: #1d1d1d;
}
.sign-up-link {
  text-decoration: none;
  color: #ffffff;
}
.sign-in {
  color: #00537a;
  cursor: pointer;
}
.sign-in:hover a {
  color: #ce2d4f;
}
.signup-footer-text-bold {
  font-weight: 600;
}
.signin-btn {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 15px 40px;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.signin-btn:hover {
  background: #e0e0e0;
}
.signin {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
}
.signin-btn img {
  width: 100px;
  height: 25px;
  object-fit: auto;
}
